<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/index.css" />
    <title>GAE Static File</title>
  </head>
  <body>
    <h1 class="red">GAE Static File</h1>
    <image src="https://cors-dot-shadowsocks-218808.appspot.com/images/city.jpeg"></image>
    <script src="static/index.js"></script>
  </body>
</html>
